rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /nutritionReports/{reportId} {
      allow create: if request.auth != null
        && request.resource.data.uid == request.auth.uid;
      allow read, update, delete: if false;
    }

    match /meals_history/{mealId} {
      allow create, update: if request.auth != null
        && request.resource.data.uid == request.auth.uid;
      allow read, delete: if false;
    }
  }
}
